<h1>Listing critics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Publication</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @critics.each do |critic| %>
      <tr>
        <td><%= critic.name %></td>
        <td><%= critic.url %></td>
        <td><%= critic.publication %></td>
        <td><%= link_to 'Show', critic %></td>
        <td><%= link_to 'Edit', edit_critic_path(critic) %></td>
        <td><%= link_to 'Destroy', critic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critic', new_critic_path %>
