%p#notice= notice
%h1= @critic.try(:name)
%hr

/ %p
/   %strong Url:
/   = @critic.url
%p
  %strong Publication:
  = @critic.publication

%table.table-striped.reviews
  %thead
    %tr
      %th
        Rating
      %th
        %i.icon-film
        Movie
      / %th Url
      %th
        %i.icon-book
        Review
  %tbody
  - @critic.critic_opinions.each do |opinion|
    %tr
      %td
        %i{class: opinion.like ? "icon-thumbs-up icon-white" : "icon-thumbs-down icon-white"}
      %td= link_to opinion.title, opinion.movie
      %td= link_to opinion.publication, opinion.url


%br
%br
= link_to 'Back', critics_path
