%p#notice= notice
%h1= @critic.try(:name)
%hr
%p
  %strong Publication:
  = @critic.publication

%table.table-striped.reviews
  %thead
    %tr
      %th
        Rating
      %th
        %i.icon-film
        Movie
      %th
        %i.icon-book
        Review
  %tbody
  - @critic.critic_opinions.each do |opinion|
    %tr
      %td
        %i{ thumbs(opinion.like) }
      %td= link_to opinion.title, opinion.movie.name
      %td= link_to opinion.publication, opinion.url
%br
%br
= link_to 'Back', critics_path
