%p#notice= notice
/ %p
/   %strong Rt:
%p
  %strong
    %i.icon-film
    Title:
  = @movie.title
%p
  %strong
    %i.icon-info-sign
    Year:
  = @movie.year
%p
  %strong
    %i.icon-book
    Description:
  = @movie.description.try(:truncate, 50, omission: '...')

%h3 Listing All Critics
%table.movie.table-striped
  %thead
    %tr
      %th
        Rating
      %th
        %i.icon-group
        Name
      / %th Url
      %th
        %i.icon-book
        Publication
  %tbody
    - @opinions.each do |opinion|
      %tr
        %td
          %i{class: opinion.like ? "icon-thumbs-up icon-white" : "icon-thumbs-down icon-white"}
        %td= link_to opinion.name, opinion
        / %td= critic.url
        %td= opinion.publication

%br/
= link_to 'Back', movies_path
