%p#notice= notice
/ %p
/   %strong Rt:
%h1= @movie.title
%hr
/ %p
/   %strong
/     %i.icon-film
/     Title:

%p
  %strong
    %i.icon-info-sign
    Year:
  = @movie.year
%p
  %strong
    %i.icon-book
    Description:
  %p.description_long= @movie.description.try(:truncate, 400, omission: '...')
- if @opinions.count == 0
  %h3 No Reviews
- else
  %h3 Listing All Critics
  %table.table-striped.reviews
    %thead
      %tr
        %th
          Rating
        %th
          %i.icon-group
          Name
        / %th Url
        %th
          %i.icon-book
          Review
    %tbody
      - @opinions.each do |opinion|
        %tr
          %td
            %i{class: opinion.like ? "icon-thumbs-up icon-white" : "icon-thumbs-down icon-white"}
          %td= link_to opinion.name, opinion
          %td= link_to opinion.publication, opinion.url


%br/
= link_to 'Back', movies_path
