- title @movie.title

%p#notice= notice
%hr

%p
  %strong
    %i.icon-info-sign
    Release Date:
  = @movie.release_date
= form_for(@user) do |f|
  .btn-group.btn-group-vertical{ "data-toggle" => "buttons-radio" }
    %button.btn{ "data-toggle" => "button", type: "button" }
      %i.icon-thumbs-up
      %input{:name => "user[movie_id][#{@movie.id}]", :type => "radio", :value => "true"}
    %button.btn{ "data-toggle" => "button", type: "button" }
      %i.icon-thumbs-down
      %input{:name => "user[movie_id][#{@movie.id}]", :type => "radio", :value => "false"}
    %button{ type: "submit", class: "positive btn btn-large submit" }
      Submit
%img{src: @movie.image_url , class: "show_page_art"}
%p
  %strong
    %i.icon-book
    Description:
  %p.description_long= @movie.description.try(:truncate, 400, omission: '...')

- if @opinions.count == 0
  %h3 No Reviews
- else
  %h3 Listing All Critics
  %table.table-striped.reviews
    %thead
      %tr
        %th
          Rating
        %th
          %i.icon-group
          Name
        %th
          %i.icon-book
          Review
    %tbody
      - @opinions.each do |opinion|
        %tr
          %td
            %i{ thumbs(opinion.like) }
          %td= link_to opinion.name, opinion.critic
          %td= link_to opinion.publication, opinion.url


%br

.btn-group
  %a.btn.btn-info{href:movies_path}
    %i.icon-chevron-left{style:'vertical-align:middle;'}
    %span{style:'vertical-align:middle;'}Back to Movies
