<h1>Listing user_opinions</h1>

<table>
  <thead>
    <tr>
      <th>Like</th>
      <th>User</th>
      <th>Movie</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_opinions.each do |user_opinion| %>
      <tr>
        <td><%= user_opinion.like %></td>
        <td><%= user_opinion.user_id %></td>
        <td><%= user_opinion.movie_id %></td>
        <td><%= link_to 'Show', user_opinion %></td>
        <td><%= link_to 'Edit', edit_user_opinion_path(user_opinion) %></td>
        <td><%= link_to 'Destroy', user_opinion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User opinion', new_user_opinion_path %>
