<p id="notice"><%= notice %></p>

<p>
  <strong>Like:</strong>
  <%= @user_opinion.like %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_opinion.user_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @user_opinion.movie_id %>
</p>

<%= link_to 'Edit', edit_user_opinion_path(@user_opinion) %> |
<%= link_to 'Back', user_opinions_path %>
