<p id="notice"><%= notice %></p>

<p>
  <strong>Like:</strong>
  <%= @critic_opinion.like %>
</p>

<p>
  <strong>User:</strong>
  <%= @critic_opinion.user_id %>
</p>

<p>
  <strong>Critic:</strong>
  <%= @critic_opinion.critic_id %>
</p>

<%= link_to 'Edit', edit_critic_opinion_path(@critic_opinion) %> |
<%= link_to 'Back', critic_opinions_path %>
