%p#notice
  = notice
%p
  %strong
    Name:
    = @user.name
  - @user.user_opinions.each do |opinion|
    %p
      %i{ thumbs(opinion.like) }
      = opinion.movie.title

  - @user.top_critics.each do |critic, score|
    %p
      = score
      \-
      = link_to critic.name, critic

  / = @user_opinion.methods
/ = link_to 'Edit', edit_user_path(@user)

= link_to 'Back', users_path
