- title 'Matched Critics'

%p#notice
  = notice
%p
  %strong
    %p
  - @top_critics.each do |critic|
    %p
      %i{ thumbs(true) }
      = critic.values[0][:agree]
      %i{ thumbs(false) }
      = critic.values[0][:disagree]
      = link_to critic.keys[0].name, critic.keys[0]
%p
  %strong
    Your Ratings
  - @user_opinions.each do |movie|
    %p
      %i{ thumbs(movie.values[0]) }
      = link_to movie.keys[0].title, movie.keys[0]
.btn-group
  %a.btn.btn-info{href:movies_path}
    %i.icon-chevron-left{style:'vertical-align:middle;'}
    %span{style:'vertical-align:middle;'}Rate More Movies
