- title "About Critic Critic"

%hr

%p Rate movies and find critics that agree with your taste.

%br

%p
  Created by students of
  = link_to "Portland Code School", "http://www.portlandcodeschool.com/"

%h4 Built with <i class="icon-heart"></i> by
%ul
  %li
    Shane -
    = link_to "Github", "https://github.com/ShaneDelmore"
  %li
    Dustin -
    = link_to "Github", "https://github.com/zeisler"
  %li
    Jordan -
    = link_to "Github", "https://github.com/badascii"
  %li
    Katie -
    = link_to "Github", "https://github.com/keighty"
  %li
    Lucas -
    = link_to "Github", "https://github.com/theoretick"
