- title "About Critic Critic"

%hr

%p Rate movies and find critics that agree with your taste.

%br

%p
  Created by students of
  = link_to "Portland Code School", "http://www.portlandcodeschool.com/", target:"_blank"
%p
  Check out our code over on <a href="http://github.com/ShaneDelmore/critic_critic">Github</a>

%br

%h4 Built with <i class="icon-heart"></i> by
%ul
  %li
    Shane -
    = link_to "Github", "https://github.com/ShaneDelmore", target:"_blank"
  %li
    Dustin -
    = link_to "Github", "https://github.com/zeisler", target:"_blank"
  %li
    Jordan -
    = link_to "Github", "https://github.com/badascii", target:"_blank"
  %li
    Katie -
    = link_to "Github", "https://github.com/keighty", target:"_blank"
  %li
    Lucas -
    = link_to "Github", "https://github.com/theoretick", target:"_blank"
