%html{lang: 'en'}
  %head
    %meta{charset: 'utf8'}
    %title
      = yield(:title)
      | Critic Critic
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: ''}
    = stylesheet_link_tag "application.css", controller.controller_name
  .navbar
    .navbar-inner
      .container
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => root_path} Critic Critic
        .nav-collapse.collapse
          %ul.nav
            %li
              = link_to "Rate Movies", root_path
            %li
              = link_to "Browse Movies", movies_path
            %li
              = link_to "Current Matches", users_path
            %li
              = link_to "About", about_path
          = form_tag movies_path, method: 'get', class: "navbar-form pull-right input-container" do
            .icon-ph
              %i.icon-search
            = text_field_tag :search, params[:search], required: "required", placeholder: "Search movie by title..."
            = submit_tag "Search", class: "btn btn-small"

    / End of navbar

  %body
    .container
      / Enables dynamic page titles
      %h2.h2= yield :title
      = yield
    = javascript_include_tag :application, controller.controller_name
